<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Dashboard</h1>
            <a href="/note" class="button">Add Note</a>
        </div>
        <h2>Filter</h1>
        <br>
        <div class="container">
            <% tags.forEach(tag => { %>
            <a href ="/filter?tag=<%= encodeURIComponent(tag.tag) %>" class = "button"><%= tag.tag %></a>
            <% }); %>
        </div>
        <br>
        <h2>Notes Table</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created At</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                <% notes.forEach(note => { %>
                    <tr>
                    <td style="color: <%= note.important ? 'red' : 'white' %>;"><%= note.title %></td>
                    <td><%= note.created_at %></td>
                    <td><%= note.tags %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>
